@import 'tailwindcss';
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));

/* ===========================
   Root Variables
=========================== */
:root {
  --clr-bg-body: #f9f9f9;
  --clr-text-body: #333446;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.7347 0.1606 53.8903);
  --light-primary: oklch(87.623% 0.08007 58.476);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.5167 0.2185 345.8478);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.9279 0.0298 59.2897);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: #e0e0e0;
  --input: oklch(0.9597 0.0021 17.196);
  --ring: oklch(0.8838 0.0022 17.1999);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Roboto Serif, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.2rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* ==== global font size variables ====  */
  --fs-xxs: 12px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-base: 18px;
  --fs-md: 20px;
  --fs-lg: 22px;
  --fs-xl: 25px;
  --fs-2xl: 30px;
  --fs-3xl: 35px;
  --fs-4xl: 40px;
  --fs-5xl: 60px;
  --fs-6xl: 72px;
  --fs-7xl: 100px;
  --fs-big: 150px;
  --fs-giant: 195px;

  /* ======= line height ======== */
  --lh-normal: normal;
  --lh-xl: 28px;
  --lh-percentage-md: 90%;
  --lh-percentage-lg: 112.5%;
  --lh-percentage-xl: 150%;
  --lh-percentage-2xl: 155.556%;
  --lh-percentage-3xl: 166.667%;
  --lh-percentage-6xl: 250%;

  /* ======= letter speaching ======== */
  --lp-md: 4.18px;
  --lp-lg: 5.18px;
}

.dark {
  --clr-bg-body: #333446;
  --clr-text-body: #eaefef;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.7347 0.1606 53.8903);
  --light-primary: oklch(87.623% 0.08007 58.476);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5167 0.2185 345.8478);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.9279 0.0298 59.2897);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.3092 0 0);
  --input: oklch(0.325 0 0);
  --ring: oklch(0.3791 0 0);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Roboto Serif, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.2rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* =====================
  root variable responsiveness
========================*/

/* Extra Large Monitor (1680px and below) */
@media screen and (max-width: 1680px) {
  :root {
    --fs-base: 17.7px;
    --fs-md: 19.7px;
    --fs-lg: 21.7px;
    --fs-xl: 24.6px;
    --fs-2xl: 29.5px;
    --fs-3xl: 34.7px;
    --fs-4xl: 39px;
    --fs-5xl: 56.58px;
    --fs-6xl: 67.5px;
    --fs-7xl: 93px;
    --fs-big: 139px;
    --fs-giant: 175px;

    /* ======= letter speaching ======== */
    --lp-md: 3.5px;
    --lp-lg: 4.5px;
  }
}

/* Large Monitor (1480px and below) */
@media screen and (max-width: 1480px) {
  :root {
    --fs-base: 17.4px;
    --fs-md: 19.4px;
    --fs-lg: 21.4px;
    --fs-xl: 24.2px;
    --fs-2xl: 29px;
    --fs-3xl: 33.4px;
    --fs-4xl: 38px;
    --fs-5xl: 53.16px;
    --fs-6xl: 63px;
    --fs-7xl: 86px;
    --fs-big: 128px;
    --fs-giant: 155px;

    /* ======= letter speaching ======== */
    --lp-md: normal;
    --lp-lg: normal;
  }
}

/* Small Monitor (1240px and below) */
@media screen and (max-width: 1240px) {
  :root {
    --fs-base: 17.1px;
    --fs-md: 19.1px;
    --fs-lg: 21.1px;
    --fs-xl: 23.8px;
    --fs-2xl: 28.5px;
    --fs-3xl: 32.1px;
    --fs-4xl: 37px;
    --fs-5xl: 49.74px;
    --fs-6xl: 58.5px;
    --fs-7xl: 78px;
    --fs-big: 117px;
    --fs-giant: 140px;
  }
}

/* Tablets (Extra Large, 1023px and below) */
@media screen and (max-width: 1023px) {
  :root {
    --fs-base: 16.8px;
    --fs-md: 18.8px;
    --fs-lg: 20.8px;
    --fs-xl: 23.4px;
    --fs-2xl: 28px;
    --fs-3xl: 31.8px;
    --fs-4xl: 36px;
    --fs-5xl: 46.32px;
    --fs-6xl: 54px;
    --fs-7xl: 71px;
    --fs-big: 106px;
    --fs-giant: 125px;
  }
}

/* Tablets (Medium, 840px and below) */
@media screen and (max-width: 840px) {
  :root {
    --fs-base: 16.5px;
    --fs-md: 18.5px;
    --fs-lg: 20.5px;
    --fs-xl: 23px;
    --fs-2xl: 27.5px;
    --fs-3xl: 30.5px;
    --fs-4xl: 35px;
    --fs-5xl: 42.9px;
    --fs-6xl: 49.5px;
    --fs-7xl: 64px;
    --fs-big: 95px;
    --fs-giant: 110px;
  }
}

/* Phones (Extra Large, 767px and below) */
@media screen and (max-width: 767px) {
  :root {
    --fs-base: 16.2px;
    --fs-md: 18.2px;
    --fs-lg: 20.2px;
    --fs-xl: 23px;
    --fs-2xl: 27px;
    --fs-3xl: 30px;
    --fs-4xl: 34px;
    --fs-5xl: 39.48px;
    --fs-6xl: 45px;
    --fs-7xl: 57px;
    --fs-big: 84px;
    --fs-giant: 95px;
  }
}

/* Phones (Small, Medium, 560px and below) */
@media screen and (max-width: 560px) {
  :root {
    --fs-base: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-xl: 23px;
    --fs-2xl: 27px;
    --fs-3xl: 30px;
    --fs-4xl: 33px;
    --fs-5xl: 36px;
    --fs-6xl: 42px;
    --fs-7xl: 50px;
    --fs-big: 75px;
    --fs-giant: 80px;
  }
}

/*======= font sizes ======== */
h1 {
  font-size: var(--fs-big);
  line-height: 120%;
}

h2 {
  font-size: var(--fs-xl);
  line-height: 120%;
}

h3 {
  font-size: var(--fs-xl);
  line-height: 120%;
}

h4 {
  font-size: var(--fs-lg);
  line-height: 120%;
}

h5 {
  font-size: var(--fs-md);
  line-height: 120%;
}

h6 {
  font-size: var(--fs-base);
  line-height: 120%;
}

p {
  font-size: var(--fs-sm);
  line-height: 150%;
}

/* utility */

button {
  cursor: pointer;
}

.cd_text-shadow {
  text-shadow: 20px 20px 100px rgba(0, 0, 0, 0.9);
}

.btn-reverse-bg {
  @apply bg-slate-800 text-white duration-300 hover:bg-black dark:bg-slate-200 dark:text-black dark:hover:bg-white;
}

.section-speacing {
  @apply py-12 lg:py-14 xl:py-16 2xl:py-[74px];
}

.section-top-speacing {
  @apply pt-12 lg:pt-14 xl:pt-16 2xl:pt-[74px];
}

.section-bottom-speacing {
  @apply pb-12 lg:pb-14 xl:pb-16 2xl:pb-[74px];
}

.section-heading {
  @apply pb-3.5 lg:pb-4 xl:pb-5;
}

.heading,
.bold {
  color: var(--clr-black);
}
.dark .heading,
.dark .bold {
  color: var(--clr-white);
}

.bold-text-reverse {
  color: var(--clr-white);
}

.dark .bold-text-reverse {
  color: var(--clr-black);
}

.cd_fs-xxs {
  font-size: var(--fs-xxs);
}

.cd_fs-xs {
  font-size: var(--fs-xs);
}

.cd_fs-sm {
  font-size: var(--fs-sm);
}

.cd_fs-base {
  font-size: var(--fs-base);
}

.cd_fs-md {
  font-size: var(--fs-md);
}

.cd_fs-lg {
  font-size: var(--fs-lg);
}

.cd_fs-xl {
  font-size: var(--fs-xl);
}

.cd_fs-2xl {
  font-size: var(--fs-2xl);
}

.cd_fs-3xl {
  font-size: var(--fs-3xl);
}

.cd_fs-4xl {
  font-size: var(--fs-4xl);
}

.cd_fs-5xl {
  font-size: var(--fs-5xl);
}

.cd_fs-6xl {
  font-size: var(--fs-6xl);
}

.cd_fs-7xl {
  font-size: var(--fs-7xl);
}

.cd_fs-big {
  font-size: var(--fs-big);
  line-height: 100%;
}

.cd_fs-giant {
  font-size: var(--fs-giant);
  line-height: 100%;
}

body {
  font-family: var(--font-lato), 'Roboto', sans-serif;
  background-color: var(--clr-bg-body);
  color: var(--clr-text-body);

  /* For WebKit browsers (Chrome, Safari) */
  -webkit-font-smoothing: antialiased; /* Smooth thin look */
  -webkit-font-smoothing: subpixel-antialiased; /* Default */

  /* For macOS (Firefox only) */
  -moz-osx-font-smoothing: grayscale;

  /* Text rendering hints */
  text-rendering: auto; /* default */
  text-rendering: optimizeLegibility; /* better kerning & ligatures */
}

.dark body {
  background-color: var(--clr-bg-body-dark);
  color: var(--clr-text-body-dark);
}

/* Button Wrapper */
.cd_btn_cta {
  @apply relative inline-block transform overflow-hidden rounded-full border bg-transparent px-8 py-3 leading-[110%] text-inherit transition-transform duration-300;
  transform: translateZ(0);
}

.cd_btn_cta:disabled {
  @apply pointer-events-none opacity-50;
  touch-action: none;
}

/* Ripple Wrapper */
.cd_btn_cta-ripple {
  /* @apply absolute top-0 left-0 right-0 bottom-0 z-[1] bg-black dark:bg-white; */
  @apply absolute top-0 right-0 bottom-0 left-0 z-[1];
  border-radius: inherit;
  transform: translateY(101%);
  border-radius: 50% 50% 0 0;
  transition:
    transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  background-color: var(--clr-darkGold);
}

/* Title Wrapper */
.cd_btn_cta-title {
  @apply relative z-[2] block overflow-hidden pr-[0.16em];
}

.cd_btn_cta-title span {
  @apply block;
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.cd_btn_cta-title span:after {
  content: attr(data-text);
  /* @apply absolute block top-[110%] w-full left-0 text-white dark:text-black; */
  @apply absolute top-[110%] left-0 block w-full text-white;
}
/* .dark .cd_btn_cta-title span:after {
  color: black !important;
} */

/* Hover Effects */
.cd_btn_cta:hover {
  transform: scaleX(1.02);
  transition: transform 0.6s cubic-bezier(0.34, 5.56, 0.64, 1);
}

.cd_btn_cta:hover .cd_btn_cta-ripple {
  transform: translateY(0);
  border-radius: 0;
  transition-duration: 0.5s, 0.9s;
}

.cd_btn_cta:hover .cd_btn_cta-title span {
  transform: translateY(-110%);
}

/* ========= header starts ========== */
.cd_header {
  background: var(--clr-bg-body-semi-transparent);
  backdrop-filter: blur(12px);
}

.dark .cd_header {
  background: var(--clr-bg-body-dark-semi-transparent);
}

.cd_header-navlink {
  @apply relative;
}

.animate-underline::after,
.cd_header-navlink::before {
  content: '';
  transform: scaleX(0);
  background: var(--clr-darkGold);
  @apply absolute -bottom-0.5 left-0 h-0.5 w-full;
}

/* .dark .animate-underline::after,
.dark .cd_header-navlink::before {
  background: var(--clr-text-body-dark);
} */

.cd_header-navlink:hover:not(.cd_active)::before {
  animation: underline-in 0.5s forwards;
}

.cd_header-navlink:not(:hover, .cd_active)::before {
  animation: underline-out 0.5s forwards;
}

.cd_sidebar-toggler span {
  @apply my-1.5 block h-0.5 w-9 lg:w-10;
  /* background-color: var(--clr-black); */
  background-color: var(--clr-text-body);
}

.dark .cd_sidebar-toggler span {
  /* background-color: var(--clr-white); */
  background-color: var(--clr-text-body-dark);
}

.cd_sidebar-toggler:hover span {
  animation: bar_anim 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
}
.cd_sidebar-toggler:hover span:last-child {
  animation-delay: 0.1s;
}

@keyframes bar_anim {
  0%,
  100% {
    -webkit-clip-path: inset(-2px 0);
    clip-path: inset(-2px 0);
  }
  42% {
    -webkit-clip-path: inset(-2px 0 -2px 100%);
    clip-path: inset(-2px 0 -2px 100%);
  }
  43% {
    -webkit-clip-path: inset(-2px 100% -2px 0);
    clip-path: inset(-2px 100% -2px 0);
  }
}

.cd_sitebar-container {
  background-color: var(--clr-bg-body);
}

.dark .cd_sitebar-container {
  background-color: var(--clr-bg-body-dark);
}
.cd_dot_cursor {
  color: var(--clr-white);
  background-color: var(--clr-bg-body-dark);
}

.dark .cd_dot_cursor {
  color: var(--clr-black);
  background-color: var(--clr-bg-body);
}

.banner-large-text {
  @apply !leading-[70%] 2xl:!text-[220px];
}

.banner-spinning-star {
  animation: rotateStar 2.2s linear infinite;
}

@keyframes rotateStar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cd_infinit_spin {
  animation: rotateImage 15s linear infinite;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.testimonials-container {
  @apply bg-[var(--clr-bg-body-dark)] p-4 md:p-5 lg:p-6 dark:bg-[var(--clr-bg-body-dark)];
  box-shadow:
    0 10px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}
.dark .testimonials-container {
  box-shadow:
    0 10px 38px rgba(173, 173, 173, 0.3),
    0 15px 10px rgba(0, 0, 0, 0.22);
}

/* ======= bouncing text animation ====== */

.bouncing-text-wrapper {
  --bounching-shadow: rgba(0, 0, 0, 0.8);
}

.dark .bouncing-text-wrapper {
  --bounching-shadow: rgba(237, 237, 237, 0.8);
}

.bouncing-text-wrapper.bold-text-reverse {
  --bounching-shadow: rgba(237, 237, 237, 0.8);
}

.dark .bouncing-text-wrapper.bold-text-reverse {
  --bounching-shadow: rgba(0, 0, 0, 0.8);
}

.bouncing-text-wrapper {
  --bounching-shadow: rgba(0, 0, 0, 0.8);
}

.dark .bouncing-text-wrapper {
  --bounching-shadow: rgba(237, 237, 237, 0.8);
}

p.bouncing-text {
  letter-spacing: -0.05em;
  text-shadow: 1px 2px 5px var(--bounching-shadow);
}

.animate-bounce-custom {
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes bounce {
  10% {
    transform: translate(0px, -30px) scale(1.2);
    opacity: 0.8;
    text-shadow: 0px 40px 7px var(--bounching-shadow);
  }
  20% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
    text-shadow: 1px 2px 5px var(--bounching-shadow);
  }
}

/* ======= portfolios ======= */
.cd_portfolio-card::before,
.cd_portfolio-card::after {
  content: '';
  width: 40px;
  height: 103%;
  background: var(--clr-bg-body);
  position: absolute;
  top: -1.5%;
  z-index: 10;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.cd_portfolio-card::before {
  left: -20px;
}
.cd_portfolio-card::after {
  right: -20px;
}

.dark .cd_portfolio-card::before,
.dark .cd_portfolio-card::after {
  background: var(--clr-bg-body-dark);
}

/* ===== style element for blogs ======= */
.cd_parser_content ul {
  list-style-type: disc;
  margin-left: 1.5em;
  padding-left: 0;
}
.cd_parser_content ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  padding-left: 0;
}

/* lets add 5 px default bottom margin for each heading in post details page  */
.post-details-container h2,
.post-details-container h3,
.post-details-container h4,
.post-details-container h5,
.post-details-container h6 {
  margin-bottom: 5px;
}
.post-details-container img {
  border-radius: 10px;
}

/*======= font sizes ======== */
.post-details-container h1 {
  font-size: var(--fs-6xl);
  line-height: 104%;
}

.post-details-container h1.page-title {
  font-size: var(--fs-7xl);
  line-height: 104%;
}

.post-details-container h2 {
  font-size: var(--fs-5xl);
  line-height: 104%;
}

.post-details-container h3 {
  font-size: var(--fs-4xl);
  line-height: 104%;
}

.btn-line-effect {
  @apply relative inline-block overflow-visible rounded-none border-none bg-white p-0 text-[var(--clr-darkGold)];
}

.btn-line-effect:hover {
  @apply bg-white text-[var(--clr-darkGold)];
}

.btn-line-effect::before,
.btn-line-effect::after {
  @apply absolute right-0 bottom-0.5 h-[1px] w-0 bg-[var(--clr-darkGold)] transition-all duration-400 content-[''];
}

.btn-line-effect::after {
  @apply right-auto left-0 w-full opacity-30;
}

.btn-line-effect:hover::before {
  @apply right-auto left-0 w-full;
}

/* middle border style */
.middle-border {
  display: inline-block;
  position: relative;
}

.middle-border:after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  background-color: var(--clr-darkGold);
  transform: translateX(-50%);
  content: '';
  width: 80px;
  height: 4px;
}

/* team member */
.shadow-effect-large {
  box-shadow: 1px 1px 5px 1px #0000002e;
  transition: 0.2s ease-out;
}

.dark-mode .shadow-effect-large {
  box-shadow: 1px 1px 5px 1px #5f8575;
}

.shadow-effect-large:hover {
  box-shadow: 0 0 3px 0 #0000002e;
}

.dark-mode .shadow-effect-large:hover {
  box-shadow: 0 0 3px 0 #5f8575;
}

/* rounded svg style */
.rounded-edge-container {
  color: var(--clr-bg-body);
}
.dark .rounded-edge-container {
  color: var(--clr-bg-body-dark);
}
.rounded-edge-container div {
  background-color: var(--clr-bg-body);
}
.dark .rounded-edge-container div {
  background-color: var(--clr-bg-body-dark);
}

/* ====== technology btn style ====== */
.choose-technology-btn span::before {
  @apply absolute -bottom-[10px] left-0 z-10 block h-1 w-0 bg-blue-600 duration-200;
  content: '';
}
.choose-technology-btn span:hover::before {
  width: 100%;
}

.bottom-bar {
  background-image: linear-gradient(90deg, #ff4b1fb3 0%, #1fddffb3 100%);
}

/* ======= home page customization ======= */
.page-input {
  @apply rounded-[3px] border border-slate-300 outline-none hover:border-slate-500 focus:border-slate-500;
}

/* Whats app chat */
.whatsApp-chat {
  position: fixed;
  bottom: 26px;
  right: auto;
  left: 24px;
  width: 40px;
  z-index: 100;
}

/* ====== animation ======= */
.animate-underline {
  position: relative;
  text-decoration: none;
}

.animate-underline:hover::after {
  animation: underline-in 0.5s forwards;
}

.animate-underline:not(:hover)::after {
  animation: underline-out 0.5s forwards;
}

@keyframes underline-in {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes underline-out {
  from {
    transform: scaleX(1);
    transform-origin: right;
  }
  to {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* ===== sidebar active link styles ======= */
.cd_active-navlink,
.cd_header-navlink.cd_active {
  color: var(--clr-darkGold);
}

.cd_border-primary {
  border: 1px solid var(--border);
}

.cd_rounded {
  border-radius: 8px;
}

.cd_rounded-sm {
  border-radius: 5px;
}

.cd_divider {
  background-color: var(--border);
}
/* 
.cd_header-navlink:hover::before { {

} */

/* ======= footer style ======= */
.footer-heading:not(.icon-heading) {
  @apply mb-4 flex items-center font-semibold md:mb-6 lg:mb-8;
  color: #e9ae44;
  font-size: var(--fs-xl);
}

.footer-heading.icon-heading {
  @apply font-semibold;
  color: #e9ae44;
  font-size: var(--fs-xl);
}

.footer-heading-wrap {
  @apply mb-4 flex items-center md:mb-6 lg:mb-8;
  gap: 15px;
}

.footer-col-box {
  @apply max-w-[450px] bg-red-50;
}

.footer-link {
  font-size: var(--fs-base);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ======= home page ======== */
.home-banner-swiper .swiper-pagination-bullet {
  @apply bg-slate-50 duration-300;
}
.home-banner-swiper .swiper-pagination-bullet-active {
  @apply !w-4 !rounded-2xl;
}

.home-banner-swiper .swiper-button-prev,
.home-banner-swiper .swiper-button-next {
  @apply absolute top-[50%] z-9999 p-2 text-white;
}

.home-banner-swiper .swiper-button-next {
  @apply right-0 md:right-5;
}

.home-banner-swiper .swiper-button-prev {
  @apply left-0 md:left-5;
}

.home-banner-swiper .swiper-button-disabled {
  @apply pointer-events-none text-slate-400;
}

.banner-gradient {
  background-image: linear-gradient(180deg, #0f222b 25%, #223b5f 60%, #5690b1 100%);
}

.product-filter svg {
  @apply h-6 w-6;
}

.site_link{
  @apply text-blue-600 duration-300 hover:text-blue-500
}

/* .product-filter button{
  padding: 8px 0;
  margin-top: 12px;
} */
